<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
    <link rel="images" href="/public/images/"/>
  </head>
  <body>
    <nav class="navigation">
      <img>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <div class="languages">
        <label >Choose your language:</label>
        <select>

        </select>
      </div>
    </nav>
    <div class="welcoming">
      <img src="/public/images/USCIS_logo_English.svg.png">
    </div>
    <section class="status">
      <h2>Status</h2>
      <div class="Asylum">
        <h3>Asylum</h3>
        <a href="#"></a>
      </div>
      <div class="citizenship">
        <h3>Citizenship</h3>
        <a href="#"></a>
      </div>
      <div class="greencard">
        <h3>Permanent Resident Card</h3>
        <a href="#"></a>
      </div>
    </section>
  </body>
  <footer>
    <p>&copy;NCQ, Open Source Project</p>
  </footer>
</html>
